@using JobFinder.Core.Contracts
@using System.Security.Claims
@model FileUploadViewModel
@inject IUserServiceInterface userService
<h1 class="text-center">Account Settings</h1>
<h3 class="text-center">
       <p class="">Username : @User.FindFirstValue(ClaimTypes.Name)</p>
       <p class="">Email : @User.FindFirstValue(ClaimTypes.Email)</p>
       <a class="btn btn-danger" asp-controller="Account" asp-action="DeleteAccount">Delete Account</a>
</h3>
@if (! await userService.UserHasCompany(@User.FindFirstValue(ClaimTypes.NameIdentifier)))
{
    
<div class="text-center col-md-4 offset-md-4" >
     <form asp-controller="Resume" asp-action="Upload" enctype="multipart/form-data" method="post">         
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
         <input class="form-control" type="file"  name="file" />

        <button type="submit" value="Upload"  class="btn btn-success">Upload</button>
            
        
          <a class="btn btn-danger" asp-controller="Resume" asp-action="Delete">Delete Resume</a>
          
          <a class="btn btn-warning" asp-controller="Resume" asp-action="Download">Download Resume</a>
         
          
     </form>
      
 </div>
}

 @section Scripts {
    <partial name="_ValidationScriptsPartial" />    
}
