@model CompanyOutputViewModel

<td >@Model.CompanyName</td>
<td >@Model.Description</td>
<td><a class="btn btn-danger" asp-area="Administration" asp-controller="AdminCompany" asp-action="Delete" asp-route-id="@Model.Id" asp-route-ownerId="@Model.OwnerId">Delete</a></td>

