@model IEnumerable<CompanyInterviewOutputViewModel>
@{
    ViewBag.Tilte = "Your interview schedule";
}
<h1 class="text-center">@ViewBag.Tilte</h1>
@if (Model != null)
{
    

<table class="table table-hover table-dark">
  <thead>
    <tr>      
      <th scope="col">Number</th>
      <th scope="col">Email</th>
      <th scope="col">UserName</th>
      <th scope="col">Applyed for job</th>
      <th scope="col">Interview Start</th>
      <th scope="col">Interview End</th>
      <th scope="col">Withdraw interview</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var item in Model)
            {
                int counter = 1;
               <tr>
                <td>@counter</td>
             <partial name="_CompanyInterviewPartial" model="item"></partial>          
               </tr>
             counter++;
            }
  </tbody>
</table>
}
