@model IEnumerable<JobApplicationViewModel>
@{
    ViewBag.Tilte = "Job seekers applyed for your job";
}
<h1 class="text-center">@ViewBag.Tilte</h1>
@if (@Model != null)
{
<table class="table table-hover table-dark">
  <thead>
    <tr>      
      <th scope="col">Number</th>
      <th scope="col">Email</th>
      <th scope="col">UserName</th>
      <th scope="col">Resume</th>
      <th scope="col">Arrange interview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
           @if(Model.Any())
           {
                    
              @foreach (var item in Model)
              {
              int counter = 1;
              <td scope="col">@counter</td>
              <partial name="_JobListingApplication" model="@item"></partial>
              counter++;
               }
           }
    </tr>
  </tbody>
</table>
}
